* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

bady {
  font-family: Arial, Helvetica, sans-serif
}

header {
  background-color: rgba(8, 11, 18, 0.5);
  height: 100px;
  position: fixed;
  width: 83%;
  top: 0;
}

/*Button*/

button {
  border: 1px solid #fff;
  border-radius: 25px;
  font-size: 18px;
  background-color: rgba(8, 11, 18, 0.5);
  color: #fff;
  padding: 15px;
  text-align: center;
  margin: 25px;
  margin-left: 84%;
}


/*MAIN*/
main {
  height: calc(100vh - 100px);
  display: flex;
}

#sidebar {
  width: 300px;
  height: 100%;
  background-color: #000000;
  overflow-y: hidden;
}

.Logo-spotify {
  height: 50px;
  margin: 25px 15px;
}

ul {
  list-style-type: none;
}

.border-green {
  border-left: 3px solid #beff31;
}

.tips-container {
  color: #fff;
}

.tips-img {
  height: 35px;
  margin-left: 15px;
}

.h3-1 {
  color: #fff;
  margin: 20px 15px;
}

.tips-decorate {
  color: #fff;
  font-size: 25px;
}

.tips-margin {
  margin-left: 15px;
  color: #696969;
  margin-bottom: 50%;
}


/*SIDEBAR BOTTOM*/
.sidebar-bottom {
  height: 90px;
  margin: 15px;
  color: #fff;
}

.font-size {
  font-size: 20px;
  color: #696969;
  margin-left: 15px;
}

hr {
  color: #696969;
  margin: 10px 15px;
}

.container {
  display: flex;
  align-items: center;
}

.profile-img {
  height: 30px;
  color: #fff;
  border: 1px solid #696969;
  border-radius: 50%;
  background-color: #696969;
  margin-left: 15px;
}

.profile-text {
  color: #fff;
  margin-left: 5px;
}

#content {
  width: calc(100vw - 300px);
  height: 100%;
  background-color: #141922;
  color: #fff;
  overflow-y: auto;
}

/*Tabelle col-18*/
.container-main {
  margin: 0 20px;
  width: calc(100% - 40px);

}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.col-18 {
  width: calc(100% / 6 - 10px);
  margin-top: 130px;
  text-align: center;
}

/*Contenuto*/
h2 {
  margin-top: 50px;
  margin-left: 25px;
  margin-bottom: 30px;
  font-size: 30px;
}

/*Colonne*/
.col-30 {
  width: calc(100% / 6 - 10px);
}

.justify-content-center {
  justify-content: center;
}

.card img {
  height: 240px;
  object-fit: cover;
}

.title-name {
  text-align: center;
  margin-bottom: 5px;
}


.Subtitle {
  text-align: center;
  margin-left: 100px;

}

.ml-35 {
  margin-left: 35px;
}

.ml-10 {
  margin-left: 10px;
}

.line-green::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #beff31;
  margin-left: 95px;
}

/*John doe*/
.bottom-span {
  margin-left: 25px;
}

.bottom-h2 {
  margin-bottom: 15px;
}

.coll-33 {
  width: 250px;
  height: 350px;
}

.text-col33 {
  margin-left: 56px;
  font-weight: 900;
  font-size: 20px;
  margin-top: 20px;
}

/*Artisti più popolari*/
.col-33 {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}

.col-33 img {
  width: 100%;
  height: auto;
}

.text-33 {
  margin: 30px;
}

/*Margini*/

.my-20 {
  margin: 20px;
}

.mt-25 {
  margin-top: 25px;
}

/*FOOTER*/
footer {
  height: 100px;
  background-color: #282828;
}

.border-white {
  border: 2px solid white;
}

.container-footer {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
}

.col-20 {
  width: 20%;
}

.col-60 {
  width: 60%;
  height: 100px;
}

.col-20 img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.title-song {
  display: inline-block;
}