* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

bady {
  font-family: Arial, Helvetica, sans-serif
}

/*MAIN*/
main {
  height: calc(100vh - 100px);
  display: flex;
}

#sidebar {
  width: 300px;
  height: 100%;
  background-color: #000000;
}

.sidebar-bottom {
  height: 90px;
  margin: 15px;
}

#content {
  width: calc(100vw - 300px);
  height: 100%;
  background-color: #141922;
  color: #fff;
}

/*FOOTER*/
footer {
  height: 100px;
  background-color: #282828;
}