* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

bady {
  font-family: Arial, Helvetica, sans-serif
}

header {
  background-color: rgba(8, 11, 18, 0.5);
  height: 100px;
}

/*Button*/

button {
  border: 1px solid #fff;
  border-radius: 25px;
  font-size: 18px;
  background-color: rgba(8, 11, 18, 0.5);
  color: #fff;
  padding: 15px;
  text-align: center;
  margin: 25px;
  margin-left: 84%;
}


/*MAIN*/
main {
  height: calc(100vh - 100px);
  display: flex;
}

#sidebar {
  width: 300px;
  height: 100%;
  background-color: #000000;
  overflow-y: hidden;
}

.Logo-spotify {
  height: 50px;
  margin: 25px 15px;
}

ul {
  list-style-type: none;
}

.tips-container {
  color: #fff;
}

.tips-img {
  height: 35px;
  margin-left: 15px;
}

h3 {
  color: #fff;
  margin: 20px 15px;
}

.tips-decorate {
  color: #fff;
  font-size: 25px;
}

.tips-margin {
  margin-left: 15px;
  color: #696969;
  margin-bottom: 50%;
}


/*SIDEBAR BOTTOM*/
.sidebar-bottom {
  height: 90px;
  margin: 15px;
  color: #fff;
}

.font-size {
  font-size: 20px;
  color: #696969;
  margin-left: 15px;
}

hr {
  color: #696969;
  margin: 10px 15px;
}

.container {
  display: flex;
  align-items: center;
}

.profile-img {
  height: 30px;
  color: #fff;
  border: 1px solid #696969;
  border-radius: 50%;
  background-color: #696969;
  margin-left: 15px;
}

.profile-text {
  color: #fff;
  margin-left: 5px;
}

#content {
  width: calc(100vw - 300px);
  height: 100%;
  background-color: #141922;
  color: #fff;
}

/*Tabelle col-18*/
.container-main {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.col-18 {
  width: calc(100% / 6 - 10px);
  margin-top: 20px;
}

.line-green::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #beff31;
  margin-left: 20px;
}

/*Margini*/

.my-20 {
  margin: 20px;
}

/*FOOTER*/
footer {
  height: 100px;
  background-color: #282828;
}